body {
  margin: auto;
  text-align: center;
  background-color:darkcyan;
}

img {
 width: 200px;
 height: 300px;
 border-radius: 12px;
 border: solid black;
 border-width: 8px;
}


.container {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
}

.card {
  background-color: #fffcfc;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 6px #333;
  display: block;
  text-align: center;
}

.review-card {
  background-color: goldenrod;
  border-radius: 12px;
  border: solid black;
}

.review-form {
  border: solid black;
  border-radius: 12px;
}

input[type = "radio"] {
  display: none;
}

ul {
  border: solid black;
  border-radius: 12px;
}